* {
    box-sizing: border-box;
}

.App {
    height: 100vh;
    display: flex;
    width: 100%;
}

.App .body {
    margin: auto;
}

.App main {
    margin: auto;
    text-align: center;
    width: 780px;
}