body {
    background: #36373a;
    font-family: 'VT323', monospace;
    color: white;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: 'VT323', monospace;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.timer {
    display: flex;
}

.timer h2 {
    margin: 0;
}