body {
    background: #36373a;
    font-family: 'VT323', monospace;
    color: white;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.game-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timer {
    display: flex;
}

.timer h2 {
    margin: 0;
}